*,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.bg {
	background-color: #e5e5f7;
	opacity: 1;
	background: radial-gradient(
			circle,
			transparent 20%,
			#e5e5f7 20%,
			#e5e5f7 80%,
			transparent 80%,
			transparent
		),
		radial-gradient(
				circle,
				transparent 20%,
				#e5e5f7 20%,
				#e5e5f7 80%,
				transparent 80%,
				transparent
			)
			10px 10px,
		linear-gradient(#444cf7 0.8px, transparent 0.8px) 0 -0.4px,
		linear-gradient(90deg, #444cf7 0.8px, #e5e5f7 0.8px) -0.4px 0;
	background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

a.active {
	background: rgb(70, 122, 219);
	background: linear-gradient(
		90deg,
		rgba(70, 122, 219, 0.01) 0%,
		rgba(214, 241, 255, 1) 0%
	);
	box-shadow: -3px 0px 0px 0px #00a0fa inset;
}

.my-masonry-grid {
	display: -webkit-box; /* Not needed if autoprefixing */
	display: -ms-flexbox; /* Not needed if autoprefixing */
	display: flex;
	margin: 0px; /* gutter size offset */
	width: auto;
}
.my-masonry-grid_column {
	padding: 5px; /* gutter size */
	background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
	/* change div to reference your elements you put in <Masonry> */
	margin-bottom: 5px;
}

/* react-datepicker */
.react-datepicker__input-container input {
	display: block;
	width: 100%;
	padding: 10px;
}

/* textarea */
textarea#bio::-webkit-scrollbar {
	width: 0px;
}
